---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import BalanceSlider from '../components/BalanceSlider';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonical?: string;
  page?: 'home' | 'blog';
  showSocials?: boolean;
}

const {
  title,
  description,
  ogImage,
  canonical,
  page = 'home',
  showSocials = false,
} = Astro.props;

const padding = page === 'home' ? 'py-8 md:pt-16' : 'py-8';
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} canonical={canonical} />
  </head>
  <body>
    <div class="min-h-screen bg-cream flex flex-col">
      <header class={padding}>
        <h1 aria-label={page} class="sr-only">{page}</h1>
        <a href="/" aria-label="glittering katie home page">
          <img src="/glitteringkatie.svg" alt="glittering katie" class="max-w-2xl w-full mx-auto pb-4 px-8" />
        </a>
        <BalanceSlider client:load />
      </header>
      <main class="flex-1">
        <slot />
      </main>
      <Footer showSocials={showSocials} />
    </div>
  </body>
</html>
